<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Welcome base
        {% endblock %}
    </title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static "authdemo/style.css" %}">

</head>
<body class={{body_class}}>
    <script src="{% static "authdemo/script.js" %}"></script>
    {% block body %}
        {% comment %} Header {% endcomment %}
        <header>
            {% comment %} Navigation bar {% endcomment %}
            
            <nav class="navbar navbar-expand-lg bg-body-tertiary p-3">
                <div class="container-fluid">
                    {% comment %} Brand name {% endcomment %}
                    <a href="#" class="navbar-brand">Home</a>

                    <div class="navbar-nav">
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-target="#userMenu">{{user.name}}</a>

                            <ul class="dropdown-menu" id="userMenu">
                                <li><a href="#" class="dropdown-item">Profile</a></li>
                                <li><a href="#" class="dropdown-item">About</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a href="{% url "authdemo:logout" %}" class="dropdown-item">Logout</a></li>
                            </ul>
                        </div>

                        <div class="nav-item">
                            <div id="timer">
                                <div id="days">..</div>
                                <div id="hours">..</div>
                                <div id="minutes">..</div>
                                <div id="seconds">60</div>
                            </div>
                        <script>
                            // Initialize the countdown with the max_age from cookies
                            const maxAge = "{{ request.COOKIES.maxAge|default:"Empty" }}";
                            if (maxAge){
                                // Launch the countdown
                                let maxAge_date = new Date(maxAge).getTime();
                                countdown(maxAge_date);
                            }
                        </script>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        {% comment %} Main content {% endcomment %}
        <div class="content">
            {% comment %} Aside navigation bar {% endcomment %}
            <aside>
                {% block aside %}
                    
                {% endblock%}
            </aside>

            <main>
                {% block main %}
                    Welcome
                {% endblock %}
            </main>
        </div>

        {% comment %} Footer {% endcomment %}
        <footer>
            Footer
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        {% load static %}
    {% endblock %}
</body>
</html>