{% extends 'authdemo/base_template.html' %}

{% load str_parse_datetime %}

{% block title %}
    Home
{% endblock %}

{% block aside %}
    <button type="button" class="btn btn-outline-primary"><span class=""><i class="bi-upload me-2"></i></span>Upload a media</button>
{% endblock%}

{% block main %}
    <div id="upload-container">
        <h1 class="mb-2">Upload a media</h1>
        <div id="file-name"></div>
        <div id="preview-container" class="my-2"></div>
        <input id= "file" type="file" accept="video/*, image/*" onchange="handle_file_preview(this)" hidden>
        <div id="file-upload-controls">
            <button type="button" class="btn btn-outline-success" onclick="document.getElementById('file').click()"><span class=""><i class="bi-box-arrow-down me-2"></i></span>Import</button>
            <button type="button" class="btn btn-outline-danger" onclick="uploadFile('{% url 'authdemo:upload' %}')">
                <span><i class="bi-upload me-2"></i></span>Upload
            </button>

        </div>
    </div>

{% endblock %}

